@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

@media screen and (min-width: 1200px){
    header > h1{
        font-size: 2.3em;
    }

    header > p{
        font-size: 1.1em;
    }

    main{
        margin: auto;
        max-width: 700px;
    }

    main > article > h2{
        font-size: 2.4em;
    }

    main > article > p{
        font-size: 1.2em;
    }

    main > article > fieldset > legend{
        font-size: 1.42em;
    }
}

@media screen and (max-width: 1200px) {
    header > h1{
        font-size: 2.25em;
    }

    header > p{
        font-size: 1.2em;
    }

    main{
        margin: auto;
        max-width: 700px;
    }

    main > article > h2{
        font-size: 2.2em;
    }

    main > article > p{
        font-size: 1.2em;
    }

    main > article > fieldset > legend{
        font-size: 1.3em;
    }
}

@media screen and (max-width: 730px){
    header > h1{
        font-size: 2.2em;
    }

    main{
        margin: auto;
        max-width: 700px;
    }

    main > article > h2{
        font-size: 2.1em;
    }

    main > article > p{
        font-size: 1em;
    }
}

@media screen and (max-width: 430px){
    header > h1{
        font-size: 2.2em;
    }
    
    header > p{
        font-size: 1em;
    }

    main > article > h2{
        font-size: 2em;
    }

    main > article > p{
        font-size: 1em;
    }

    main > article > fieldset > legend{
        font-size: 1.16em;
    }
}


@keyframes gradiente{
    0%{
        background-position: 0% 100%;
        color: white;
    }

    50%{
        background-position: 50% 100%;
        color: black;
    }

    100%{
        background-position: 100% 100%;
        color: white;
    }
}

:root{
    --cor0: #1B512D;
    --cor1: #455755;
    --cor2: #020620;
    --cor3: #F07A50;
    --cor4: #45214A;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

body::-webkit-scrollbar{
    height: 0px;
    width: 0px;
}

body{
    background-color: var(--cor1);
    height: 100vh;
    width: 100vw;
}

header{
    animation: gradiente 20s infinite alternate;
    background-image: linear-gradient(45deg, var(--cor2), var(--cor3), var(--cor4), var(--cor0));
    background-size: 2000% 200%;
    color: white;
    padding: 30px;
    text-align: center;
}

header > h1{
    font-family: 'Parkinsans';
    padding: 20px 0px 10px 0px;
}

header > p{
    padding: 0px 0px 20px 0px;
}

main{
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.438);
    margin-bottom: 20px;
    padding: 25px 20px;
    text-align: justify;
}

main > article > h2{
    color: var(--cor4);
    font-family: 'Barlow';
    padding: 20px 0px 8px 0px;
    text-align: center;
}

main > article > p{
    font-family: 'Roboto';
    line-height: 1.5em;
    margin: 8px 0px 16px 0px;
    text-indent: 36px;
}

main > article > fieldset{
    background-color: #45575573;
    border-radius: 10px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.562);
    margin-bottom: 20px;
    padding: 12px;
}

main > article > fieldset > legend{
    color: var(--cor4);
    font-weight: bold;
    padding: 0px 7px;
}

main > article > fieldset > ul{
    display: grid;
    gap: 14px 0px;
    list-style-type: disc;
    list-style-position: inside;
}

main > article > fieldset > ul > li{
    font-family: 'Roboto';
    line-height: 1.5em;
}

main > article > p#link-comecar{
    margin-top: 50px;
    text-align: end;
    text-indent: 0px;
}

main > article > p > a#comecar > button{
    background-color: var(--cor2);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 0.94em;
    padding: 22px;
}

footer{
    animation: gradiente 20s infinite alternate;
    background-image: linear-gradient(45deg, var(--cor2), var(--cor3), var(--cor4), var(--cor0));
    background-size: 2000% 100%;
    color: white;
    display: grid;
    font-style: italic;
    gap: 14px 0px;
    padding: 40px 14px;
    place-items: center;
}