@charset "UTF-8";

:root{
    --cor0: #1B512D;
    --cor1: #455755;
    --cor2: #1F2652;
    --cor3: #F07A50;
    --cor4: #45214A;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header{

}