@charset "UTF-8";
 
:root{
    --cor0: #1B512D;
    --cor1: #455755;
    --cor2: #020620;
    --cor3: #F07A50;
    --cor4: #45214A;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 0;
}

body{
    height: 100vh;
    width: 100vw;
}

header{
    background-image: linear-gradient(to right, var(--cor2), var(--cor4));
    color: white;
    padding: 30px 0px 0px 0px;
}

header > h1{
    font-size: 2em;
    font-weight: normal;
    padding: 10px 0px 0px 10px;
    text-align: center;
}

header > p{
    padding: 8px 10px 30px 8px;
    text-align: center;
}

header > nav{
    background-color: var(--cor1);
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
}

main{
    background-color: #1b512d49;
    padding: 20px 12px;
}

main > h1{
    color: var(--cor0);
    font-size: 1.8em;
    font-weight: normal;
    padding: 10px 0px 15px 0px;
    text-align: center;
}

main > section{
    margin-bottom: 20px;
}

main > section > h2{
    color: var(--cor2);
    font-weight: normal;
    padding: 12px 0px 6px 0px;
    text-align: center;
}

main > section > article{
    border: 2px solid black;
    border-radius: 10px;
    display: grid;
    gap: 12px 0px;
    margin: auto;
    padding: 10px;
    width: 90%;
}

main > section > article > p{
    align-items: center;
    display: grid;
    grid-template-columns: 10% 90%;
}

main > section > article > p > span{
    font-weight: bold;
}

main > section > article > p > button{
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 0px;
}

main > section#links{
    margin: 30px 0px 10px 0px;
    padding: 10px 20px;
}

main > section > a{
    background-color: var(--cor4);
    border-radius: 10px;
    color: white;
    padding: 20px 10px;
    text-align: center;
    text-decoration: none;
}

footer{
    background-image: linear-gradient(to right, var(--cor2), var(--cor4));
    color: white;
    display: grid;
    font-style: italic;
    gap: 14px 0px;
    justify-content: center;
    padding: 30px 10px;
}

footer > span{
    text-align: center;
}