@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

@keyframes respostaCerta{

    0%{
        background-color: white;
        color: black;
    }

    10%{
        background-color: #45214A;
        color: white;
    }

    20%{
        background-color: white;
        color: black;
    }

    30%{
        background-color: #45214A;
        color: white;
    }

    40%{
        background-color: white;
        color: black;
    }

    50%{
        background-color: #45214A;
        color: white;
    }

    60%{
        background-color: white;
        color: black;
    }

    70%{
        background-color: #45214A;
        color: white;
    }

    80%{
        background-color: white;
        color: black;
    }

    90%{
        background-color: #45214A;
        color: white;
    }

    95%{
        background-color: white;
        color: black;
    }

    100%{
        background-color: rgb(12, 139, 12);
        color: white;
    }
}

@keyframes respostaErrada {
    
    0%{
        background-color: white;
        color: black;
    }

    10%{
        background-color: #45214A;
        color: white;
    }

    20%{
        background-color: white;
        color: black;
    }

    30%{
        background-color: #45214A;
        color: white;
    }

    40%{
        background-color: white;
        color: black;
    }

    50%{
        background-color: #45214A;
        color: white;
    }

    60%{
        background-color: white;
        color: black;
    }

    70%{
        background-color: #45214A;
        color: white;
    }

    80%{
        background-color: white;
        color: black;
    }

    90%{
        background-color: #45214A;
        color: white;
    }

    95%{
        background-color: white;
        color: black;
    }

    100%{
        background-color: red;
        color: white;
    }
}

@keyframes janela{
    from{
        transform: scale(0);
    }

    to{
        transform: scale(1);
    }
}

:root{
    --cor0: #1B512D;
    --cor1: #455755;
    --cor2: #020620;
    --cor3: #F07A50;
    --cor4: #45214A;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 0;
}

html, body{
    overscroll-behavior: contain;
}

body{
    background-color: rgb(1, 31, 31);
    height: 100vh;
    width: 100vw;
}

header{
    background-image: linear-gradient(to right, var(--cor2), var(--cor4));
    color: white;
    padding: 30px 0px 0px 0px;
}

header > h1{
    font-family: 'Parkinsans', Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: normal;
    padding: 10px 0px 33px 0px;
    text-align: center;
}

header > p{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: 8px 10px 50px 8px;
    text-align: center;
}

header > nav{
    background-color: var(--cor0);
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
}

main{
    background-color: #45575583;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.603);
    margin: 0px auto 26px auto;
    max-width: 600px;
    padding: 20px 12px;
    z-index: 1;
}

main > h2{
    color: var(--cor3);
    font-family: 'Barlow', Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    font-weight: normal;
    padding: 10px 0px 15px 0px;
    text-align: center;
}

main > section{
    margin-bottom: 20px;
}

main > section > h3{
    color: white;
    font-size: 1.4em;
    font-weight: normal;
    padding: 12px 0px 6px 0px;
    text-align: center;
}

main > section > article{
    border: 3px solid var(--cor1);
    border-radius: 10px;
    display: grid;
    gap: 12px 0px;
    margin: auto;
    padding: 10px;
    width: 90%;
}

main > section > article > p{
    align-items: center;
    column-gap: 3px;
    display: grid;
    grid-template-columns: 20px auto;
}

main > section > article > p > span{
    color: var(--cor3);
    font-weight: bold;
}

main > section > article > p > button{
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    font-size: 0.98em;
    font-weight: bold;
    padding: 10px 0px;
}

/* main > section#links{
    margin: 30px 0px 10px 0px;
    padding: 10px 20px;
} */

/* main > section#links > a{
    background-color: var(--cor2);
    display: block;
    text-decoration: none;
} */

/* main > section#links > #btn-recomecar{
    background-color: var(--cor0);
}  */

/* main > section > a, main > section > button{
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    padding: 16px 10px;
    text-align: center;
    width: 100%;
} */

.fixo{
    background-color: var(--cor2);
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 5;
}
/* 
main > dialog#sair-categoria{

    div#caixa-sair-categoria{
        animation-name: janela;
        animation-duration: 4s;
        animation-timing-function: ease-in-out;
    }
} */

main > dialog#game-over{
    border-radius: 10px;
    margin: auto;
    overscroll-behavior: contain;

    #caixa-game-over{
        align-content: space-between;
        display: grid;
        min-height: 140px;

        #conteudo-game-over{
            padding: 10px;

            h3{
                color: var(--cor3);
                font-weight: normal;
                padding: 0px 0px 10px 0px;
            }

            p strong{
                color: var(--cor2);
            }
        }

        #opcao-game-over{
            display: flex;
            justify-content: end;
            padding: 12px 10px 8px 0px;

            /* span{
                border-radius: 5px;
                color: white;
                cursor: pointer;
                padding: 12px 0px;
                text-align: center;
                width: 110px;
            }

                
                background-color: var(--cor4);
            }

            span#nao-aceitar-recomecar{
                background-color: var(--cor1);
            } */
        }
    }
}

main > dialog#game-over::backdrop, dialog#sair-categoria::backdrop, dialog#proximo-nivel::backdrop{
    backdrop-filter: blur(8px);
}

main > div#link-sair-categoria{
    margin: 36px auto 0px auto;
    text-align: end;
    width: 90%;

    button{
        background-color: var(--cor2);
        border: none;
        border-radius: 7px;
        color: white;
        cursor: pointer;
        padding: 18px 8px;
        width: 180px;
    }
}

main > dialog #cabecalho{
    background-color: var(--cor2);
    color: white;
    padding: 12px;
}

main > dialog#sair-categoria{
    border-radius: 10px;
    margin: auto;
    overscroll-behavior: contain;

    #caixa-sair-categoria{
        display: grid;
        align-content: space-between;
        min-height: 120px;
        /* padding: 10px; */

        #conteudo-sair-categoria{
            padding: 10px;

            p{
                line-height: 1.5em;
            }
        }

        #opcao-sair-categoria{
            display: flex;
            color: white;
            column-gap: 12px;
            justify-content: end;
            padding: 10px;

            span{
                border-radius: 5px;
                color: white;
                cursor: pointer;
                padding: 10px 0px;
                text-align: center;
            }

            /* span#aceitar-sair-categoria{
                background: var(--cor4);
            }

            span#nao-aceitar-sair-categoria{
                background-color: var(--cor1);
            } */
        }
    }
}

main > dialog#proximo-nivel{
    border-radius: 10px;
    margin: auto;

    #caixa-proximo-nivel{
        min-height: 220px;

        h3{
            color: green;
            font-size: 1.7em;
            padding: 7px 0px;
        }

        strong{
            color: var(--cor4);
        }
    }

    #opcao-proximo-nivel{

        #pontos-vidas{
            display: flex;
            justify-content: space-between;
            padding: 4px 10px;
        }

        #opcao-avancar{
            span{
                background-color: var(--cor4);
                border-radius: 8px;
                color: white;
                cursor: pointer;
                display: inline-block;
                padding: 12px 0px;
                text-align: center;
                width: 100%;
            }
        }
    }
}

footer{
    align-content: space-around;
    animation: gradiente 20s infinite alternate;
    background-image: linear-gradient(45deg, var(--cor2), var(--cor3), var(--cor4), var(--cor0));
    background-size: 2000% 100%;
    color: white;
    display: grid;
    height: 160px;
    justify-items: center;

    div{
        display: grid;
        row-gap: 12px;
        justify-items: center;
    }
}