@charset "UTF-8";

:root{
    --cor0: #1B512D;
    --cor1: #455755;
    --cor2: #020620;
    --cor3: #F07A50;
    --cor4: #45214A;
}

header > h1{
    font-size: 2.4em;
}

main > h2{
    font-size: 1.6em;
}

main > section > h3{
    font-size: 1em;
}

main > section > article > p > button{
    font-size: 0.9em;
}

main > div#link-sair-categoria > button{
    width: 100%;
}

main > dialog#sair-categoria{
    width: 70%;
    #caixa-sair-categoria{
        

        #cabecalho{

        }

        #conteudo-sair-categoria{
            font-size: 0.9em;
        }

        #opcao-sair-categoria{
            column-gap: 30px;
            padding-right: 30px;

            span{

            }

            span#aceitar-sair-categoria{
                color: var(--cor4);
            }

            span#nao-aceitar-sair-categoria{
                color: var(--cor1);
            }
        }
    }
}