@charset "UTF-8";

header > h1{
    font-size: 2.5em;
}

main > h2{
    font-size: 1.8em;
}

main > section > h3{
    font-size: 1.1em;
}

main > section > article > p > button{
    font-size: 1.1em;
}

main > dialog#sair-categoria{
    max-width: 75%;
    #caixa-sair-categoria{
        

        #cabecalho{

        }

        #conteudo-sair-categoria{
            font-size: 1em;
        }

        #opcao-sair-categoria{
            column-gap: 10px;
            padding-right: 10px;

            span{
                width: 80px;
            }

            span#aceitar-sair-categoria{
                background-color: var(--cor4);
            }

            span#nao-aceitar-sair-categoria{
                background-color: var(--cor1);
            }
        }
    }
}