@charset "UTF-8";

main > section > article > p{
    column-gap: 4px;
}

main > h1{
    font-size: 1.5em;
}

main > section > h2{
    font-size: 1.2em;
}

main > section#links{
    display: flex;
    flex-direction: column;
    gap: 15px 0px;
}