@charset "UTF-8";

header > h1{
    font-size: 2.5em;
}

main > h2{
    font-size: 1.8em;
}

main > section > h3{
    font-size: 1.1em;
}

main > section > article > p > button{
    font-size: 0.96em;
}