@charset "UTF-8";

:root{
    --cor0: #1B512D;
    --cor1: #455755;
    --cor2: #020620;
    --cor3: #F07A50;
    --cor4: #45214A;
}

header > h1{
    font-size: 2.4em;
}

main > h2{
    font-size: 1.6em;
}

main > section > h3{
    font-size: 1em;
}

main > section > article > p > button{
    font-size: 0.9em;
}

main > div#link-sair-categoria > button{
    width: 100%;
}

main > dialog#game-over{

    #caixa-game-over{

        #conteudo-game-over{

            h3{
                font-size: 1.44em;
            }
        }

        #opcao-game-over{
            column-gap: 8px;

            span{
                color: black;
                font-weight: bold;
                width: 50px;
            }

            span#aceitar-recomecar{
                background-color: white;
                color: var(--cor4);
            }

            span#nao-aceitar-recomecar{
                 background-color: white;
                color: var(--cor1);
            }
        }
    }
}

main > dialog#proximo-nivel{

    #caixa-proximo-nivel{

        #conteudo-proximo-nivel{

            h3{
                font-size: 1.44em;
                font-weight: normal;
            }
        }
    }
}

main > dialog#sair-categoria{
    width: 70%;
    #caixa-sair-categoria{

        #conteudo-sair-categoria{
            font-size: 0.9em;
        }

        #opcao-sair-categoria{
            column-gap: 10px;
            padding-right: 30px;

            span{
                font-weight: bold;
                width: 50px;
            }

            span#aceitar-sair-categoria{
                background-color: white;
                color: var(--cor4);
            }

            span#nao-aceitar-sair-categoria{
                background-color: white;
                color: var(--cor1);
            }
        }
    }
}

footer{
    font-size: 0.9em;
}