@charset "UTF-8";

main > section > article > p{
    column-gap: 4px;
}

main > h1{
    font-size: 1.5em;
}

main > section > h2{
    font-size: 1.2em;
}

main > section#links{
    display: flex;
    flex-direction: column;
    gap: 15px 0px;
}

div#janela-recomecar-jogo{
    place-content: center;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 100px;
    min-height: 286vh;
}

div#container-recomecar-jogo{
    background-color: white;
    border-radius: 10px;
    line-height: 1.5em;
    padding: 10px;
}