@charset "UTF-8";

header > h1{
    font-size: 2.4em;
}

main > h2{
    font-size: 1.6em;
}

main > section > h3{
    font-size: 1em;
}

main > section > article > p > button{
    font-size: 0.9em;
}

main > div#link-sair-categoria > button{
    width: 100%;
}