@charset "UTF-8";

@keyframes jogarNovamente{
    from{
        transform: scale(0.83);
    }

    to{
        transform: scale(1);
    }
}

:root{
    --cor0: #1B512D;
    --cor1: #455755;
    --cor2: #020620;
    --cor3: #F07A50;
    --cor4: #45214A;
}

main{
    background-color: white;
}

main > article > h3{
    background-image: linear-gradient(to right, var(--cor1), transparent);
    border-radius: 5px;
    color: white;
    font-weight: normal;
    padding: 8px;
}

main > article > p{
    line-height: 1.5em;
    margin-bottom: 26px;
    padding-top: 8px;
    text-align: justify;
    text-indent: 26px;
}

main > article > p > strong{
    color: var(--cor4);
}

main > article > ul{
    display: grid;
    padding-top: 8px;
    row-gap: 8px;
}

main > article > ul > li{
    list-style-position: inside;
    list-style-type: none;
}

main > article > ul > li > a, article > ul > li > span{
    color: var(--cor4);
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}

main > article > button{
    animation: jogarNovamente 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: var(--cor4);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    margin: 40px 0px 10px 0px;
    padding: 18px 0px;
    width: 100%;
}